<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="cacheEnabled" value="false" />
	</settings>
	
	<typeAliases>
	<!-- mapper 에서 사용할 vo 클래스 등록과 줄임말 지정 (선택) -->	
<!-- 		<typeAlias type="com.tftsa.itys.chatting.model.vo.UserTutor" alias="UserTutor" /> -->
		<typeAlias type="com.tftsa.itys.chatting.model.vo.Chattingroom" alias="Chattingroom" />
		<typeAlias type="com.tftsa.itys.chatting.model.vo.Chatting" alias="Chatting" />
		<typeAlias type="com.tftsa.itys.chatting.model.vo.UserChattingStudent" alias="UserChattingStudent" />
		<typeAlias type="com.tftsa.itys.chatting.model.vo.UserChattingTutor" alias="UserChattingTutor" />
		<typeAlias type="com.tftsa.itys.adminPayment.model.vo.Payment" alias="Payment" />
		<typeAlias type="com.tftsa.itys.adminChatting.model.vo.UserChatting" alias="UserChatting" />
		<typeAlias type="com.tftsa.itys.adminChatting.model.vo.Chattingblock" alias="Chattingblock" />
		<typeAlias type="com.tftsa.itys.adminChatting.model.vo.Userinfo" alias="Userinfo" />
		<typeAlias type="com.tftsa.itys.adminKeyword.model.vo.AdminKeyword" alias="AdminKeyword" />
		
    	<typeAlias type="com.tftsa.itys.member.model.vo.Member" alias="Member"/>
 		<typeAlias type="com.tftsa.itys.mypage.model.vo.Likes" alias="Likes"/>
 		<typeAlias type="com.tftsa.itys.mypage.model.vo.MyLikes" alias="MyLikes"/>
		<typeAlias type="com.tftsa.itys.mypage.model.vo.Student" alias="Student"/>
 		<typeAlias type="com.tftsa.itys.mypage.model.vo.Tutor" alias="Tutor"/>
 		<typeAlias type="com.tftsa.itys.mypage.model.vo.SubData" alias="SubData"/>
 		<typeAlias type="com.tftsa.itys.mypage.model.vo.Subject" alias="Subject"/>
 		<typeAlias type="com.tftsa.itys.mypage.model.vo.MyClass" alias="MyClass"/>
 		
 		<typeAlias type="com.tftsa.itys.detail.model.vo.Detail" alias="Detail"/>
		<typeAlias type="com.tftsa.itys.detail.model.vo.TutorDetail" alias="tutorDetail"/>
		<typeAlias type="com.tftsa.itys.detail.model.vo.TutorLikes" alias="tutorLikes"/>
		<typeAlias type="com.tftsa.itys.detail.model.vo.TutorQna" alias="tutorQna"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/adminchatting-mapper.xml" />
		<mapper resource="mappers/adminpayment-mapper.xml" />
		<mapper resource="mappers/adminmember-mapper.xml"/>
		<mapper resource="mappers/adminkeyword-mapper.xml"/>
		<mapper resource="mappers/chatting-mapper.xml" />
		<mapper resource="mappers/payment-mapper.xml" />
    <mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/mypage-mapper.xml"/>
		<mapper resource="mappers/detail-mapper.xml" />
	</mappers>
	
</configuration>
