<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="cacheEnabled" value="false" />
	</settings>
	
	<typeAliases>

	<!-- mapper 에서 사용할 vo 클래스 등록과 줄임말 지정 (선택) -->

		<typeAlias type="com.tftsa.itys.chatting.model.vo.Chattingroom" alias="Chattingroom" />
		<typeAlias type="com.tftsa.itys.chatting.model.vo.Chatting" alias="Chatting" />
		<typeAlias type="com.tftsa.itys.chatting.model.vo.UserChattingStudent" alias="UserChattingStudent" />
		<typeAlias type="com.tftsa.itys.chatting.model.vo.UserChattingTutor" alias="UserChattingTutor" />
		<typeAlias type="com.tftsa.itys.chatting.model.vo.StudentChattingroom" alias="StudentChattingroom" />
		<typeAlias type="com.tftsa.itys.chatting.model.vo.TutorChattingroom" alias="TutorChattingroom" />
		<typeAlias type="com.tftsa.itys.payment.model.vo.UserStudent" alias="UserStudent" />
		<typeAlias type="com.tftsa.itys.adminPayment.model.vo.Payment" alias="Payment" />
		<typeAlias type="com.tftsa.itys.adminChatting.model.vo.UserChatting" alias="UserChatting" />
		<typeAlias type="com.tftsa.itys.adminChatting.model.vo.Chattingblock" alias="Chattingblock" />
		<typeAlias type="com.tftsa.itys.adminChatting.model.vo.Userinfo" alias="Userinfo" />
		
		<typeAlias type="com.tftsa.itys.adminKeyword.model.vo.AdminKeyword" alias="AdminKeyword" />
		<typeAlias type="com.tftsa.itys.adminReview.model.vo.AdminReview" alias="AdminReview" />
		<typeAlias type="com.tftsa.itys.payment.model.vo.UserStudent" alias="UserStudent"/>

		<typeAlias type="com.tftsa.itys.adminDashboard.model.vo.BarData" alias="BarData"/>
		<typeAlias type="com.tftsa.itys.adminDashboard.model.vo.PieData" alias="PieData"/>

    	<typeAlias type="com.tftsa.itys.member.model.vo.Member" alias="Member"/>
 		<typeAlias type="com.tftsa.itys.mypage.model.vo.Likes" alias="Likes"/>
		<typeAlias type="com.tftsa.itys.mypage.model.vo.MyLikes" alias="MyLikes"/>
		<typeAlias type="com.tftsa.itys.chatting.model.vo.StudentChattingroom" alias="StudentChattingroom"/>
		<typeAlias type="com.tftsa.itys.chatting.model.vo.TutorChattingroom" alias="TutorChattingroom"/>

    	<typeAlias type="com.tftsa.itys.mypage.model.vo.Student" alias="Student"/>
 		<typeAlias type="com.tftsa.itys.mypage.model.vo.Tutor" alias="Tutor"/>
 		<typeAlias type="com.tftsa.itys.mypage.model.vo.SubData" alias="SubData"/>
 		<typeAlias type="com.tftsa.itys.mypage.model.vo.Subject" alias="Subject"/>
 		<typeAlias type="com.tftsa.itys.mypage.model.vo.MyClass" alias="MyClass"/>
 		<typeAlias type="com.tftsa.itys.mypage.model.vo.UserChattingroomTutor" alias="UserChattingroomTutor"/>
 		<typeAlias type="com.tftsa.itys.mypage.model.vo.UserChattingroomStudent" alias="UserChattingroomStudent"/>
 		<typeAlias type="com.tftsa.itys.mypage.model.vo.MyKeyword" alias="MyKeyword"/>
 		<typeAlias type="com.tftsa.itys.mypage.model.vo.MyKeyData" alias="MyKeyData"/>

 		<typeAlias type="com.tftsa.itys.mypage.model.vo.MyStudent" alias="MyStudent"/>


 		<typeAlias type="com.tftsa.itys.detail.model.vo.Detail" alias="Detail"/>
		<typeAlias type="com.tftsa.itys.detail.model.vo.TutorDetail" alias="tutorDetail"/>
		<typeAlias type="com.tftsa.itys.detail.model.vo.TutorLikes" alias="tutorLikes"/>
		<typeAlias type="com.tftsa.itys.detail.model.vo.TutorQna" alias="tutorQna"/>

	    <typeAlias type="com.tftsa.itys.detail.model.vo.AfterPay" alias="AfterPay"/>
	    <typeAlias type="com.tftsa.itys.detail.model.vo.OpenChat" alias="OpenChat"/>

		<typeAlias type="com.tftsa.itys.detail.model.vo.LikesCheck" alias="LikesCheck"/>
		<typeAlias type="com.tftsa.itys.detail.model.vo.RoomNo" alias="RoomNo"/>

		<typeAlias type="com.tftsa.itys.search.vo.Keyword" alias="Keyword" />
		<typeAlias type="com.tftsa.itys.search.vo.Search" alias="Search" />
		<typeAlias type="com.tftsa.itys.search.vo.DaySearch" alias="DaySearch" />
		<typeAlias type="com.tftsa.itys.search.vo.DetailSearch" alias="DetailSearch" />
    	<typeAlias type="com.tftsa.itys.search.vo.User_info" alias="User_info" />

    	<typeAlias type="com.tftsa.itys.search.vo.Avg" alias="Avg"/>



    	<typeAlias type="com.tftsa.itys.board.model.vo.Board" alias="Board" />
		<typeAlias type="com.tftsa.itys.common.Paging" alias="Paging" />
		<typeAlias type="com.tftsa.itys.board.model.vo.Reply" alias="Reply" />
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/adminchatting-mapper.xml" />
		<mapper resource="mappers/admincategory-mapper.xml" />
		<mapper resource="mappers/adminpayment-mapper.xml" />
		<mapper resource="mappers/adminmember-mapper.xml"/>
		<mapper resource="mappers/admindashboard-mapper.xml"/>
		<mapper resource="mappers/adminreview-mapper.xml"/>
		<mapper resource="mappers/adminkeyword-mapper.xml"/>
		<mapper resource="mappers/chatting-mapper.xml" />
		<mapper resource="mappers/payment-mapper.xml" />
    	<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/mypage-mapper.xml"/>
		<mapper resource="mappers/detail-mapper.xml" />
    	<mapper resource="mappers/board-mapper.xml" />
		<mapper resource="mappers/reply-mapper.xml" />
		<mapper resource="mappers/top10-mapper.xml" />
		<mapper resource="mappers/subject-mapper.xml" />
		<mapper resource="mappers/keyword-mapper.xml" />
		<mapper resource="mappers/search-mapper.xml" />
	</mappers>
	
</configuration>

