<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admindashboardMapper">

	<resultMap type="Payment" id="resultPayment">
		<id column="pay_no" property="pay_no" />
		<result column="student_name" property="student_name" />
		<result column="tutor_name" property="tutor_name" />
		<result column="pay_datetm" property="pay_datetm" />
		<result column="pay_method" property="pay_method" />
		<result column="pay_amount" property="pay_amount" />
		<result column="pay_status" property="pay_status" />
	</resultMap>
		
	<resultMap type="BarData" id="resultBarData">
		<id column="month" property="month" />
		<result column="earning" property="earning" />
	</resultMap>

	<resultMap type="Board" id="resultBoard">
		<id column="board_no" property="board_no" />
		<result column="board_writer" property="board_writer" />
		<result column="board_content" property="board_content" />
		<result column="board_date" property="board_date" />	
	</resultMap>
	
	<resultMap type="PieData" id="resultPieData">
		<id column="category" property="category" />
		<result column="cnt" property="cnt" />
	</resultMap>

	<select id="todayEarning" resultType="_int">
		select nvl(sum(to_number(replace(str,'만원','0000'))),0)
		from (select pay_amount as str from payment where to_char(pay_datetm,'yymmdd')='210805')
	</select>
	
	<select id="monthSales" resultType="_int">
		select count(*) from payment WHERE TO_CHAR(PAY_DATETM,'YYMM')='2108'
	</select>
	
	<select id="totalUsers" resultType="_int">
		select count(*) from user_info 
	</select>
	
	<select id="cntChattingroom" resultType="_int">
		select count(*) from chatting_room
	</select>
	
	<select id="potential" resultType="_int">
		select count(*) from payment where pay_status='WAITING'
	</select>
	
	<select id="yearSalesByMonth" resultType="_int">
		SELECT MONTH,SUM(TO_NUMBER(REPLACE(STR,'만원','0000'))) 
		FROM (SELECT PAY_AMOUNT AS STR,TO_CHAR(PAY_DATETM,'YYMM') AS MONTH 
			  FROM PAYMENT 
			  WHERE TO_CHAR(PAY_DATETM,'YY')='21')
		GROUP BY MONTH
	</select>
  
	<select id="fiveRecentPayments" resultMap="resultPayment">
		select student_name, tutor_name, pay_datetm, pay_method, pay_amount, pay_status
		from (select student_name, tutor_name, pay_datetm, pay_method, pay_amount, pay_status, rank() over (order by pay_datetm desc) as new_5_pay 
      		  from payment
     		  order by pay_datetm desc) 
		where rownum<![CDATA[<=]]>5
	</select>
	
	<select id="oneYearEarning" resultMap="resultBarData">
			WITH QR1 AS(SELECT MONTH
	    	FROM (SELECT TO_CHAR(ADD_MONTHS(to_date(add_months(sysdate, -12), 'YY/MM/DD'), LEVEL-1),'YY/MM') AS MONTH FROM DUAL
	          CONNECT BY LEVEL <![CDATA[<=]]> MONTHS_BETWEEN(TO_DATE(TO_CHAR(SYSDATE,'YYYYMM'),'YYYYMM'),to_date(add_months(sysdate, -12), 'YY/MM/DD'))+1)),
			QR2 AS (
	    	SELECT MONTH,SUM(TO_NUMBER(REPLACE(STR,'만원','0000'))) AS TOTAL
			FROM (SELECT PAY_AMOUNT AS STR,TO_CHAR(PAY_DATETM,'YY/MM') AS MONTH
				  FROM PAYMENT 
				  WHERE TO_CHAR(PAY_DATETM,'YY/MM') BETWEEN TO_CHAR(to_date(add_months(sysdate, -12), 'YY/MM/DD'),'YY/MM') AND TO_CHAR(to_date(sysdate,'YY/MM/DD'),'YY/MM'))
			GROUP BY MONTH)
			SELECT QR1.MONTH,NVL(QR2.TOTAL,0) AS EARNING
			FROM QR1 LEFT JOIN QR2 ON QR1.MONTH=QR2.MONTH 
			ORDER BY QR1.MONTH
	</select>

		
	<select id="fiveNewlyPosted" resultMap="resultBoard">

		select board_no, board_writer, board_content, board_date

		from (select * from board order by board_date desc)
		where rownum <![CDATA[<=]]> 5
	</select>
	
	<select id="categorySaleRate" resultMap="resultPieData">
		SELECT CATEGORY,COUNT(*) CNT
		FROM PAYMENT P 
		LEFT OUTER JOIN TUTOR T ON P.TUTOR_NO=T.USER_NO
		LEFT JOIN SUBJECT S ON T.SUB_NAME=S.SUB_NAME
		WHERE P.PAY_STATUS='COMPLETE'
		GROUP BY S.CATEGORY
		ORDER BY CNT DESC
	</select>
	
</mapper>

