<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminkeywordMapper">

	<resultMap id="resultKeyword" type="AdminKeyword">
		<id property="key_no" column="key_no" />
		<result property="type_per" column="type_per" />
	</resultMap>
	
	<select id="selectAllKeywords" parameterType="string" resultMap="resultKeyword">
		select * from keyword
		<if test = "type_per !=null">
			where type_per like '%' || #{ type_per } || '%' 
		</if>
		order by key_no
	</select>
	
	<delete id="deleteKeyword" parameterType="String">
		delete from keyword where type_per = #{ type_per } 
	</delete>
	
	<insert id="insertKeyword" parameterType="String">
		insert into keyword (key_no, type_per) values(keyword_seq.nextval, #{type_per}) 
	</insert>
	
	<select id="cntKeyword" parameterType="String" resultType="_int">
		select count(type_per) from keyword where type_per = #{type_per}
	</select>
</mapper>