<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">

	<resultMap id="resultMember" type="Member">
		<id property="user_no" column="user_no" />
		<result property="user_ssn" column="user_ssn" />
		<result property="user_name" column="user_name" />
		<result property="user_phone" column="user_phone" />
		<result property="user_id" column="user_id" />
		<result property="user_pwd" column="user_pwd" />
		<result property="user_email" column="user_email" />
		<result property="user_position" column="user_position" />
		<result property="login_ok" column="login_ok" />
	</resultMap>
		
	<select id="selectLogin" parameterType="Member" resultMap="resultMember">
		select * from member 
		where user_id = #{ user_id } 
		and user_pwd = #{ user_pwd }
		and login_ok = 'Y'
	</select>
	
	<select id="selectUser" parameterType="string" resultMap="resultMember">
		select * from member 
		where user_id = #{  }
	</select>

	<insert id="insertUser" parameterType="Member">
		insert into user_info (user_no, user_ssn, user_name, user_phone, user_id, user_pwd, uwer_email, user_position, login_ok)
		values 
		(#{user_no}, #{user_ssn}, #{user_name}, #{user_phone}, #{user_id}, #{user_pwd}, #{user_email}, #{user_position}, #{login_ok})
	</insert>

	
	<delete id="deleteUser" parameterType="string">
		delete from member where userid = #{ userid }
	</delete>

</mapper>








