<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mypageMapper">

	<resultMap id="resultStudent" type="Student">
		<id property="user_no" column="user_no" />
		<result property="pic" column="pic" />
		<result property="stu_job" column="stu_job" />
		<result property="day" column="day" />
		<result property="time" column="time" />
		<result property="stu_wish" column="stu_wish" />
	</resultMap>
	
	<resultMap type="Tutor" id="resultTutor">
		<id property="user_no" column="user_no"/>
		<result property="pic" column="pic"/>
		<result property="min_pay" column="min_pay"/>
		<result property="online_ok" column="online_ok"/>
		<result property="area" column="area"/>
		<result property="intro" column="intro"/>
		<result property="day" column="day"/>
		<result property="time" column="time"/>
		<result property="style" column="style"/>
		<result property="l_grd" column="l_grd"/>
		<result property="class_min" column="class_min"/>
		<result property="class_times" column="class_times"/>
		<result property="sub_name" column="sub_name"/>
		<result property="key_name" column="key_name"/>
	</resultMap>
	
	<resultMap type="Likes" id="resultLikes">
		<id property="like_no" column="like_no"/>
		<result property="student_no" column="student_no"/>
		<result property="tutor_no" column="tutor_no"/>
	</resultMap>
	
	<resultMap type="SubData" id="resultSubData">
		<result property="user_no" column="user_no"/>
		<result property="sub_no" column="sub_no"/>
	</resultMap>
	
	<resultMap type="Subject" id="resultSubject">
		<id property="sub_no" column="sub_no"/>
		<result property="category" column="category"/>
		<result property="sub_name" column="sub_name"/>
	</resultMap>
	
	<resultMap type="MyLikes" id="resultMyLikes">
		<id property="user_no" column="user_no"/>
		<result property="pic" column="pic"/>
		<result property="min_pay" column="min_pay"/>
		<result property="online_ok" column="online_ok"/>
		<result property="area" column="area"/>
		<result property="intro" column="intro"/>
		<result property="day" column="day"/>
		<result property="time" column="time"/>
		<result property="style" column="style"/>
		<result property="l_grd" column="l_grd"/>
		<result property="class_min" column="class_min"/>
		<result property="class_times" column="class_times"/>
		<result property="sub_name" column="sub_name"/>
		<result property="user_name" column="user_name"/>
		<result property="user_phone" column="user_phone"/>
		<result property="user_email" column="user_email"/>
	</resultMap>
	
  <resultMap type="MyClass" id="resultMyClass">
		<id column="user_no" property="user_no" />
		<result column="user_name" property="user_name" />
		<result column="user_phone" property="user_phone" />
		<result column="user_email" property="user_email" />
		<result column="user_position" property="user_position" />
		<result column="pay_no" property="pay_no" />
		<result column="student_name" property="student_name" />
		<result column="tutor_name" property="tutor_name" />
		<result column="pay_datetm" property="pay_datetm" />
		<result column="pay_method" property="pay_method" />
		<result column="pay_amount" property="pay_amount" />
		<result column="pay_status" property="pay_status" />
		<result column="pic" property="pic" />
		<result column="min_pay" property="min_pay" />
		<result column="online_ok" property="online_ok" />
		<result column="area" property="area" />
		<result column="intro" property="intro" />
		<result column="day" property="day" />
		<result column="time" property="time" />
		<result column="style" property="style" />
		<result column="l_grd" property="l_grd" />
		<result column="class_min" property="class_min" />
		<result column="class_times" property="class_times" />
		<result column="sub_name" property="sub_name" />
	</resultMap>
  <resultMap type="MyStudent" id="resultMyStudent">
		<id column="pay_no" property="pay_no" />
		<result column="user_phone" property="user_phone" />
		<result column="user_email" property="user_email" />
		<result column="user_position" property="user_position" />
		<result column="user_no" property="user_no" />
		<result column="student_name" property="student_name" />
		<result column="tutor_name" property="tutor_name" />
		<result column="pay_datetm" property="pay_datetm" />
		<result column="pay_method" property="pay_method" />
		<result column="pay_amount" property="pay_amount" />
		<result column="pay_status" property="pay_status" />
		<result column="pic" property="pic" />
		<result column="user_name" property="user_name" />
		<result column="day" property="day" />
		<result column="time" property="time" />
		<result column="stu_wish" property="stu_wish" />
	</resultMap>	
  
	<resultMap type="UserChattingroomTutor" id="resultUserChattingroomTutor">
		<id property="user_no" column="user_no"/>
		<result property="chat_room_no" column="chat_room_no"/>
		<result property="student_no" column="student_no"/>
		<result property="tutor_no" column="tutor_no"/>
		<result property="student_name" column="student_name"/>
		<result property="tutor_name" column="tutor_name"/>
		<result property="user_ssn" column="user_ssn"/>
		<result property="user_name" column="user_name"/>
		<result property="user_phone" column="user_phone"/>
		<result property="user_id" column="user_id"/>
		<result property="user_pwd" column="user_pwd"/>
		<result property="user_email" column="user_email"/>
		<result property="user_position" column="user_position"/>
		<result property="login_ok" column="login_ok"/>
		<result property="pic" column="pic"/>
		<result property="min_pay" column="min_pay"/>
		<result property="online_ok" column="online_ok"/>
		<result property="area" column="area"/>
		<result property="intro" column="intro"/>
		<result property="day" column="day"/>
		<result property="time" column="time"/>
		<result property="style" column="style"/>
		<result property="l_grd" column="l_grd"/>
		<result property="class_min" column="class_min"/>
		<result property="class_times" column="class_times"/>
		<result property="sub_name" column="sub_name"/>
	</resultMap>
	
	<resultMap type="Chattingroom" id="resultChattingroom">
		<id column="chat_room_no" property="chat_room_no" />
		<result column="student_no" property="student_no" />
		<result column="tutor_no" property="tutor_no" />
		<result column="student_name" property="student_name" />
		<result column="tutor_name" property="tutor_name" />
	</resultMap>
	
	<resultMap type="MyKeyword" id="resultKeyword">
		<id column="key_no" property="key_no" />
		<result column="type_per" property="type_per" />
	</resultMap>
	
	<resultMap type="MyKeyData" id="resultKeydata">
		<result property="user_no" column="user_no"/>
		<result property="key_no" column="key_no"/>
  </resultMap>
  
	<resultMap type="UserChattingroomStudent" id="resultUserChattingroomStudent">
		<id property="user_no" column="user_no"/>
		<result property="chat_room_no" column="chat_room_no"/>
		<result property="student_no" column="student_no"/>
		<result property="tutor_no" column="tutor_no"/>
		<result property="student_name" column="student_name"/>
		<result property="tutor_name" column="tutor_name"/>
		<result property="user_ssn" column="user_ssn"/>
		<result property="user_name" column="user_name"/>
		<result property="user_phone" column="user_phone"/>
		<result property="user_id" column="user_id"/>
		<result property="user_pwd" column="user_pwd"/>
		<result property="user_email" column="user_email"/>
		<result property="user_position" column="user_position"/>
		<result property="login_ok" column="login_ok"/>
		<result property="pic" column="pic"/>
		<result property="stu_job" column="stu_job"/>
		<result property="day" column="day"/>
		<result property="time" column="time"/>
		<result property="stu_wish" column="stu_wish"/>
	</resultMap>
	
	<!-- 찜 목록 조회 -->
	<select id="selectLikesList" parameterType="_int" resultMap="resultMyLikes">
		select * from tutor
		left join user_info using (user_no) 
		where user_no in
		(select tutor_no from likes where student_no = #{user_no})
	</select>
	
	<!-- 학생이 수업 조회 -->
	<select id="selectMyTutorClassList" parameterType="_int" resultMap="resultMyClass">
		select * from payment p, user_info u, tutor t
		where p.tutor_name = u.user_name and u.user_no = t.user_no
		and p.student_name = (select user_name from user_info where user_no = ${user_no})
		and pay_status = 'COMPLETE'
		order by pay_no
	</select>
	<!-- 선생님이 학생 목록 조회 -->
	<select id="selectMyClassList" parameterType="_int" resultMap="resultMyStudent">
		select * from payment p, user_info u, student s
		where p.student_name = u.user_name and u.user_no = s.user_no
		and p.tutor_name = (select user_name from user_info where user_no = ${user_no})
		order by pay_no
	</select>
	
	<select id="selectSubjectList" resultMap="resultSubject">
		select * from subject
	</select>
	
	<select id="selectKeywordList" resultMap="resultKeyword">
		select * from keyword order by 1
	</select>
	
	<!-- 선생님 프로필 추가 -->
	<insert id="insertTutor" parameterType="Tutor">
		insert into tutor (user_no, pic, min_pay, online_ok, area, intro, day, time, style, l_grd, class_min, class_times, sub_name, key_name) 
		values 
		(#{user_no}, #{pic}, #{min_pay}, #{online_ok}, #{area}, #{intro}, #{day}, #{time}, #{style}, #{l_grd}, #{class_min}, #{class_times}, #{sub_name}, #{key_name})
	</insert>
	<insert id="insertSubData" parameterType="SubData">
		insert into sub_data (user_no, sub_no)
		values
		(#{user_no}, #{sub_no})
	</insert>
	<insert id="insertKeyData" parameterType="MyKeyData">
		insert into key_data (user_no, key_no)
		values
		(#{user_no}, #{key_no})
	</insert>
	<select id="selectSubName" parameterType="_int" resultType="String">
		select sub_name from subject where sub_no = #{sub_no}
	</select>
	<select id="selectTypePer" parameterType="_int" resultType="String">
		select type_per from keyword where key_no = #{key_no}
	</select>
	<update id="updateTutorPosition" parameterType="_int">
		update user_info set user_position = 'T' where user_no = #{user_no}
	</update>

	<!-- 학생 프로필 추가 -->
	<insert id="insertStudent" parameterType="Student">
		insert into student (user_no, pic, stu_job, day, time, stu_wish)
		values
		(#{user_no}, #{pic}, #{stu_job}, #{day}, #{time}, #{stu_wish})
	</insert>
	<update id="updateStudentPosition" parameterType="_int">
		update user_info set user_position = 'S' where user_no = #{user_no}
	</update>
	
	<select id="selectStudent" parameterType="_int" resultMap="resultStudent">
		select * from student where user_no = #{user_no}
	</select>
	<select id="selectTutor" parameterType="_int" resultMap="resultTutor">
		select * from tutor where user_no = #{user_no}
	</select>
	
	<!-- 프로필 수정 -->
	<update id="updateStudent" parameterType="Student">
		update student 
		set stu_job = #{stu_job},
			day = #{day},
			time = #{time},
			stu_wish = #{stu_wish}
		where user_no = #{user_no}
	</update>
	<update id="updateTutor" parameterType="Tutor">
		update tutor
		set min_pay = #{min_pay},
			online_ok = #{online_ok},
			area = #{area},
			intro = #{intro},
			day = #{day},
			time = #{time},
			style = #{style},
			l_grd = #{l_grd},
			class_min = #{class_min},
			class_times = #{class_times},
			sub_name = #{sub_name},
			key_name = #{key_name}
		where user_no = #{user_no}
	</update>
	
	<delete id="deleteSubData" parameterType="_int">
		delete sub_data where user_no = #{user_no}
	</delete>
	<delete id="deleteKeyData" parameterType="_int">
		delete key_data where user_no = #{user_no}
	</delete>
	
	<delete id="deleteLikes" parameterType="Likes">
		delete likes where student_no = #{student_no} and tutor_no = #{tutor_no}
	</delete>

	<!-- 학생 채팅목록 조회 -->
	<select id="selectChattingStudentList" parameterType="_int" resultMap="resultUserChattingroomTutor">
		select * from chatting_room
		join tutor on tutor.user_no = tutor_no
		join user_info using(user_no)
		where student_no = #{ student_no }
	</select>
	
	<!-- 선생님 채팅목록 조회 -->
	<select id="selectChattingTutorList" parameterType="_int" resultMap="resultUserChattingroomStudent">
		select user_no, chat_room_no, student_no, tutor_no, student_name, tutor_name, user_ssn, user_name, user_phone, user_id, user_pwd, user_email, user_position, login_ok, pic, stu_job, day, time, stu_wish from chatting
		join chatting_room using(chat_room_no)
		join user_info using(user_no)
		join student using(user_no)
		where tutor_no = #{ user_no }
		group by user_no, chat_room_no, student_no, tutor_no, student_name, tutor_name, user_ssn, user_name, user_phone, user_id, user_pwd, user_email, user_position, login_ok, pic, stu_job, day, time, stu_wish
	</select>
	
	<delete id="deleteChattingRoom">
		delete chatting_room where chat_room_no = #{chat_room_no}
	</delete>
	
</mapper>








