<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mypageMapper">

	<resultMap id="resultStudent" type="Student">
		<id property="user_no" column="user_no" />
		<result property="pic" column="pic" />
		<result property="stu_job" column="stu_job" />
		<result property="day" column="day" />
		<result property="time" column="time" />
		<result property="stu_wish" column="stu_wish" />
	</resultMap>
		
	

</mapper>








