<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="paymentMapper">

	<!-- 선생님 resultMap -->
	<resultMap type="Tutor" id="resultTutor">
		<id column="user_no" property="user_no" />
		<result column="pic" property="pic" />
		<result column="min_pay" property="min_pay" />
		<result column="online_ok" property="online_ok" />
		<result column="area" property="area" />
		<result column="intro" property="intro" />
		<result column="day" property="day" />
		<result column="time" property="time" />
		<result column="style" property="style" />
		<result column="l_grd" property="l_grd" />
		<result column="class_min" property="class_min" />
		<result column="class_times" property="class_times" />
		<result column="sub_name" property="sub_name" />
	</resultMap>
	
	<!-- 사용자 학생 resultMap -->
	<resultMap type="UserStudent" id="resultUserStudent">
		<id column="user_no" property="user_no" />
		<result column="pic" property="pic" />
		<result column="stu_job" property="stu_job" />
		<result column="day" property="day" />
		<result column="time" property="time" />
		<result column="stu_wish" property="stu_wish" />
		<result column="user_ssn" property="user_ssn" />
		<result column="user_name" property="user_name" />
		<result column="user_phone" property="user_phone" />
		<result column="user_id" property="user_id" />
		<result column="user_pwd" property="user_pwd" />
		<result column="user_email" property="user_email" />
		<result column="user_position" property="user_position" />
		<result column="login_ok" property="login_ok" />
	</resultMap>
	
	<!-- 결제 resultMap -->
	<resultMap type="Payment" id="resultPayment">
		<id column="pay_no" property="pay_no" />
		<result column="stuent_name" property="stuent_name" />
		<result column="tutor_name" property="tutor_name" />
		<result column="pay_datetm" property="pay_datetm" />
		<result column="pay_method" property="pay_method" />
		<result column="pay_amount" property="pay_amount" />
		<result column="pay_status" property="pay_status" />
	</resultMap>

	<!-- 선생님 정보 조회 SQL -->
	<select id="selectTutor" parameterType="_int" resultMap="resultTutor">
		select * from Tutor
		where user_no = #{ user_no }
	</select>
	
	<!-- 학생 정보 조회 SQL -->
	<select id="selectUserStudent" parameterType="_int" resultMap="resultUserStudent">
		select * from student
		join user_info using(user_no)
		where user_no = #{ user_no }
	</select>
	
	<!-- 결제 정보 조회 SQL -->
	<select id="selectPayment" parameterType="Payment" resultMap="resultPayment">
		select * from payment
		where student_name = #{ student_name }
		and tutor_name = #{ tutor_name }
	</select>
	
	<!-- 결제 정보 추가 SQL -->
	<insert id="insertPayment" parameterType="Payment" >
		insert into payment (pay_no, student_name, tutor_name, pay_datetm, pay_method, pay_amount, pay_status)
		values (payment_seq.nextval, #{ student_name }, #{ tutor_name }, systimestamp, default, #{ pay_amount }, default)
	</insert>
	
	<!-- 결제 정보 업데이트 SQL -->
	<update id="updatePayment" parameterType="Payment">
		update payment 
		set pay_status = 'COMPLETE'
		where pay_no = #{ pay_no }					
	</update>
</mapper>
