<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="replyMapper">

	<resultMap type="Reply" id="resultReply">
		<id column="com_no" property="com_no" />
		<result column="board_no" property="board_no" />
		<result column="com_level" property="com_level" />
		<result column="com_writer" property="com_writer" />
		<result column="com_date" property="com_date" />
		<result column="com_content" property="com_content" />
	</resultMap>

<!-- 댓글 조회 -->
	<select id="readReply" resultType="Reply">
    	SELECT *
    	 FROM REPLY
    	 WHERE board_no = #{board_no}
	</select>
	
<!-- 댓글 작성 -->
	<insert id="writeReply">
		INSERT INTO REPLY ( com_no, board_no, com_level, com_writer, com_date, com_content )
			VALUES 
			((select max(com_no) + 1 from REPLY), #{board_no}, (select max(com_no) + 1 from REPLY), 
				#{com_writer}, sysdate, #{com_content})
	</insert>
	
<!-- 댓글 수정 -->
	<update id="updateReply" parameterType="Reply">
		update REPLY set com_content = #{ com_content }
				 where com_no = #{com_no }
	</update>

<!-- 댓글 삭제 -->
	<delete id="deleteReply" parameterType="Reply">
		delete from REPLY where com_no = #{com_no}
	</delete>
	
<!-- 댓글 수정페이지 댓글 조회 -->
	<select id="selectReply" resultType="Reply">
		SELECT com_no, board_no, com_writer, com_date, com_content
    	 FROM REPLY
    	 WHERE com_no = #{com_no}
	</select>

</mapper>
